<h1>Welcome to Grumble Bee!</h1><br>
<h3>Need</h3>
<p>We created this application to address issues that CMU students face with the general administration / way things are run on campus. </p>

<br>
<h3>The Plan</h3>
<p>If a ‘buzz’ gets enough traction (people liking it to show they agree with the issue), the issue will be raised with the student senate and they will be liable to answer it. </p>

<br>
<h3>How to Use</h3>
<p><b>Likes:</b> Scroll around see buzzes you connect with and like them so that they get some traction and can be raised with student senate/ the appropriate authorities.
<br>
<b>Comments:</b> You can comment and debate about/share your opinions on what people have buzzed about, completely anonymously. <br>
<b>Posts:</b> You can buzz about things you have problems with or things you feel need fixing, but, you might want to see if others have posted about the same thing already so you could like it instead, bringing the problem a step closer to being solved.
</p>

<br>
<h3>Privacy</h3>
<p>
All posts will be completely anonymous and no one would have access to your passwords. 
</p>